body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .game {
    background-image: url('/Opdracht_10/Images/nyan-cat-background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 200px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    }
.game-over {
    display: none;
    }
    .dinosaur {
        background-image: url(/Opdracht_10/Images/Nyan-cat.gif);
        background-size: cover;
        background-repeat: no-repeat;

        width: 71px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0px;
    
        }
        .obstacle {
        background-image: url(/Opdracht_10/Images/tac-nayn.gif);
        background-size: cover;
        background-repeat: no-repeat;

        width: 78px;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 500px;
        animation: moveLeft 1.75s linear infinite;
        
        }
      @keyframes moveLeft {
    0% {
    left: 500px;
    }
    100% {
    left: -20px;
    }
}
@keyframes flyLeft {
    0% {
    left: 500px;
    }
    100% {
    left: -20px;
    }
}
@keyframes jump {
    0% {
    bottom: 0;
    }
    50% {
    bottom: 150px;
    }
    100% {
    bottom: 0;
    }
}
.deathscreen{
    width: 500px;
    height: 200px;
    display: none;
}