<<<<<<< Updated upstream
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: darkgray;
    background-color: rgba(0,0,0,0.4); 
}
.binnen {
    background-color: #fefefe;
    margin: 15% auto;
    width: 80%;
    padding: 20px;
    border: 1px 
}
.rode-pagina{
    background-color: red;
=======
body{
    background-color: red;
    
>>>>>>> Stashed changes
}